---
layout: default_helena_10G_LINK
permalink: producten.html
page_number: 2
---
{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}

{% include default/default_helena_20G_var_lite_LINK.html %}
{% include default/default_helena_01G_content_LINK.html %}

<!-- =====================< HEADER >======================================== -->
<div class="container container_athena_99_01">
  <!-- =====================< NAV BAR >======================================= -->
  <section class="loc_section_navbar_99_01">
    <div class="wrapper_navbar_lavinia_99_01">
      {% include render/0201_navbar_lavinia.html %}
    </div>
  </section>    
  <!-- =====================< PAGINA TITEL >================================== -->
  <div class="row">
    <div class="col-always-12A">
      <div class="wrapper_block_salina_pagetitle_99_01">
        {% include block_salina_pagetitle_01G.html kop="Producten" %}
      </div>
    </div>
  </div>
  <!-- =====================< GROTE FOTO >================================== -->
  <section class="section_producten_21">
    <!--<div class="container">-->
      <div class="row">
        <div class="col-blocks-11">
          <div class="wrapper_block_salina_nail_99_xl_01_legacy">
            {% include block_salina_nail_01G_xl.html
            content=content_athena_defa.block_athena_image_051
            path_media=loc_path_bedrijf_media %}                
          </div>
        </div>
      </div>
    <!--</div>-->
  </section>
  <!-- =====================< KLEINE BLOCKEN >================================ -->
  <section class="section_producten_22">
    <!--<div class="container">-->
      <div class="row">
        <div class="col-blocks-21">
          <div class="wrapper_block_athena_image_01_99_01">
            {% include block_athena_image_01G.html
            content=content_athena_defa.block_athena_image_071
            path_media=loc_path_bedrijf_media %}
          </div>
        </div>
        <div class="col-blocks-21">
          <div class="wrapper_block_athena_61_99_01">
            {% include block_athena_61G.html content=content_athena_defa.block_athena_611   %}
          </div>
        </div>
      </div>
    <!--</div>-->
  </section>
  <!-- =====================< KLEINE BLOCKS >================================= -->
  <section class="section_producten_23">
    <!--<div class="container">-->
      <div class="row">
        <div class="col-blocks-21">
          <div class="wrapper_block_athena_image_01_99_01">
            {% include block_athena_image_01G.html
            content=content_athena_defa.block_athena_image_072
            path_media=loc_path_bedrijf_media %}
          </div>
        </div>
        <div class="col-blocks-21">
          <div class="wrapper_block_athena_61_99_01">
            {% include block_athena_61G.html content=content_athena_defa.block_athena_612   %}
          </div>
        </div>
      </div>
    <!--</div>-->
  </section>
<!-- ==================< FOOTER >=========================================== -->
{% include default/copyright_start.html %}
<div class="wrapper_footer_lavinia_99_01" id= "contact">
  <div id="id_footer_0101">
    {% include render/0101_footer_lavinia.html %}
  </div>
  {% include default/copyright_end.html %}
</div>

{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}
