---
layout: default_helena_10G_LINK
permalink: bedrijf.html
page_number: 3
---
{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}

{% include default/default_helena_20G_var_lite_LINK.html %}
{% include default/default_helena_01G_content_LINK.html %}

<!-- =====================< HEADER >======================================== -->
<!-- opmaak nakijken <section class="section_athena_10"> -->
<div class="container container_athena_99_01">
  <!-- =====================< NAV BAR >======================================= -->
  <section class="loc_section_navbar_99_01">
    <div class="wrapper_navbar_lavinia_99_01">
      {% include render/0301_navbar_lavinia.html %}
    </div>
  </section>    
  <!-- =====================< PAGINA TITEL >================================== -->
  <div class="row">
    <div class="col-always-12A">
      <div class="wrapper_block_salina_pagetitle_99_01">
        {% include block_salina_pagetitle_01G.html kop="Bedrijf" %}
      </div>
    </div>
  </div>
  <!-- =====================< GROTE FOTO >==================================== -->
  <section class="section_image_31">
    <!--<div class="container">-->
      <div class="row">
        <div class="col-blocks-11">
          <div class="wrapper_block_salina_nail_99_xl_01_legacy">
            {% include block_salina_nail_01G_xl.html
            content=content_athena_defa.block_athena_image_081
            path_media=loc_path_bedrijf_media %}
          </div>
        </div>
      </div>
    <!--</div>-->
  </section>
  <!-- =====================< TEKST BLOCK >=================================== -->
  <section class="section_tekst_31">
    <!--<div class="container">-->
      <div class="row">
        <div class="col-blocks-11">
          <div class="wrapper_block_athena_52_99_01">
            {% include block_athena_52G.html content=content_athena_defa.block_athena_522 %}
          </div>
        </div>
      </div>
    <!--</div>-->
  </section>
  <!-- =====================< KLEINE BLOCKS >================================= -->
  <section class="section_blocks_31">
    <!--<div class="container">-->
      <div class="row">
        <div class="col-blocks-21">
          <div class="wrapper_block_athena_image_01_99_01">
            {% include block_athena_image_01G.html
            content=content_athena_defa.block_athena_image_082
            path_media=loc_path_bedrijf_media %}
          </div>
        </div>
        <div class="col-blocks-21">
          <div class="wrapper_block_athena_61_99_01">
            {% include block_athena_61G.html content=content_athena_defa.block_athena_613 %}
          </div>
        </div>
      </div>
    <!--</div>-->
  </section>
  <!-- =====================< KLEINE BLOCKS >================================= -->
  <section class="section_blocks_32">
    <!--<div class="container">-->
      <div class="row">
        <div class="col-blocks-21">
          <div class="wrapper_block_athena_image_01_99_01">
            {% include block_athena_image_01G.html
            content=content_athena_defa.block_athena_image_083
            path_media=loc_path_bedrijf_media %}
          </div>
        </div>
        <div class="col-blocks-21">
          <div class="wrapper_block_athena_61_99_01">
            {% include block_athena_61G.html content=content_athena_defa.block_athena_614 %}
          </div>
        </div>
      </div>
    <!--</div>-->
  </section>
<!-- ==================< FOOTER >=========================================== -->
{% include default/copyright_start.html %}
<div class="wrapper_footer_lavinia_99_01" id= "contact">
  <div id="id_footer_0101">
    {% include render/0101_footer_lavinia.html %}
  </div>
  {% include default/copyright_end.html %}
</div>

{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}
