<script type="module">
  
  /*
  // TODO: 2. testen of alles werkt bij een upload.  
  Functionality Offline page, https://www.pwabuilder.com/serviceworker
  Er moet een offline.html aanwezig zijn.
  This code uses the pwa-update web component https://github.com/pwa-builder/pwa-update to register your service worker,
  tell the user when there is an update available and let the user know when your PWA is ready to use offline.
  */


  import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';

  const el = document.createElement('pwa-update');
  document.body.appendChild(el);

</script>

