{% comment %}
<!-- ======================================================================= -->
<!-- includen in de loc_data_bolle_01.js -->
<!-- ======================================================================= -->
{% endcomment %}

const json_pwa_all_01       = {{ site.data.glint.gen_pwa_all_01 | jsonify }};
const json_pwa_android_01   = {{ site.data.glint.gen_android_all_01 | jsonify }};
const json_pwa_apple_01     = {{ site.data.glint.gen_pwa_apple_01 | jsonify }};
const json_pwa_manifest_01  = {{ site.data.glint.gen_pwa_manifest_01 | jsonify }};
const json_pwa_ms_01        = {{ site.data.glint.gen_pwa_ms_01 | jsonify }};
const json_pwa_og_01        = {{ site.data.glint.gen_pwa_og_01 | jsonify }};
const json_pwa_twitter_01   = {{ site.data.glint.gen_pwa_twitter_01 | jsonify }};
const json_schema_01        = {{ site.data.glint.gen_schema_01 | jsonify }};
const json_schema_02        = {{ site.data.glint.gen_schema_02 | jsonify }};

{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}

