{% comment %}
<!-- ======================================================================= -->
<!-- Naam: loc_head_defa_10.html -->
<!-- ======================================================================= -->
{% endcomment %}

<link rel="icon" href="assets/icons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="assets/icons/favicon-16x16.png" sizes="16x16" type="image/png">

<link rel="apple-touch-icon"     href="assets/icons/apple-touch-icon.png" sizes="192x192">
<link rel="mask-icon"            href="assets/icons/safari-pinned-tab.svg" color="#66B2CA">
<meta name="theme-color"         content="#66B2CA">

<!-- Twitter -->
<meta name="twitter:card"        content="summary">
<meta name="twitter:site"        content="@bauke_mobi">
<meta name="twitter:title"       content="Glint.mobi">
<meta name="twitter:description" content="Snelle, veilige en goedkope websites, die schitteren.">
<meta name="twitter:image"       content="https://quasimobi.github.io/pwa_02/assets/icons/twitter_summary.png">
<meta name="twitter:image:alt"   content="Websites, die schitteren">

<!-- Facebook -->
<meta property="og:title"        content="Glint.mobi">
<meta property="og:type"         content="website">
<meta property="og:url"          content="http://www.glint.mobi/websites-schitterend/">
<meta property="og:image"        content="https://quasimobi.github.io/pwa_02/assets/icons/twitter_summary.png">
<meta property="og:description"  content="Snelle, veilige en goedkope websites, die schitteren.">
<meta property="og:image:type"   content="image/png">
<meta property="og:image:width"  content="680">
<meta property="og:image:height" content="357">

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Corporation",
  "name":           "Candy Business",
  "url":            "https://quasimobi.github.io/pwa_02/",
  "logo":           "https://quasimobi.github.io/pwa_02/assets/icons/glint-144x144.png"
}
</script>
      
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">    

<!-- Splash-screens volgens: https://appsco.pe/developer/splash-screens -->
<link href="assets/icons/pwa/splash_iphonex.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
<link href="assets/icons/pwa/splash_iphone6.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="assets/icons/pwa/splash_iphone5.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="assets/icons/pwa/splash_iphoneplus.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
<link href="assets/icons/pwa/splash_iphonexr.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="assets/icons/pwa/splash_iphonexsmax.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
<link href="assets/icons/pwa/splash_ipad.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="assets/icons/pwa/splash_ipadpro1.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="assets/icons/pwa/splash_ipadpro2.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="assets/icons/pwa/splash_ipadpro3.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />

<!-- Microsoft -->       
<meta name="msapplication-TileImage"     content="assets/icons/glint-144x144.png">
<meta name="msapplication-TileColor"     content="#66B2CA">    
  
  
{% if loc_site_testen %}
  <link rel="stylesheet" href="{{ loc_url_rel }}{{ loc_path_css }}glint_strap.css">
  <link rel="stylesheet" href="{{ loc_url_rel }}{{ loc_path_css }}glint_blok.css">
  <link rel="stylesheet" href="{{ loc_url_rel }}{{ loc_path_css }}glint_detail.css">
{% else %}
  <link rel="stylesheet" href="{{ loc_url_rel }}{{ loc_path_css }}glint_strap.css">
  <link rel="stylesheet" href="{{ loc_url_rel }}{{ loc_path_css }}glint_deploy.css">
{% endif %}

<script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>  

{% if loc_site_testen %}

   <script type="text/javascript" src="{{ loc_url_rel }}{{ loc_path_js_vendor }}template-web.js"></script>
   <script>
      template.defaults.escape= false;
      glint_save_includes = false;      
   </script>
{% endif %}   

<script type="text/javascript" src="{{ loc_url_rel }}{{ loc_path_js_glint }}defa_data_bs4.js"></script>
<script type="text/javascript" src="{{ loc_url_rel }}{{ loc_path_js_glint }}loc_data_pwa_02.js"></script>
<script type="text/javascript" src="{{ loc_url_rel }}{{ loc_path_js_glint }}defa_biblio_bs4.js"></script>
<script type="text/javascript" src="{{ loc_url_rel }}{{ loc_path_js_glint }}loc_biblio_pwa_02.js"></script>   

<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/@pwabuilder/pwainstall"
></script>

<!-- Aanroep ServiceWorker -->
{% include default/default_pwa_head_01.html %}

{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}
