{% comment %}
<!-- ======================================================================= -->
<!--
  Naam: loc_var_defa_10.html
  Variabelen extra naast de defa basis en de defa configuratie
-->
<!-- ======================================================================= -->
{% endcomment %}

{% assign loc_twitter_naam         = bedrijf.basis.basis.twitter_naam %}
{% assign loc_tawk_sleutel         = bedrijf.basis.basis.tawk_sleutel %}
{% assign loc_tawk_sleutel_link    = bedrijf.basis.basis.tawk_sleutel_link %}
{% assign loc_tawk_sleutel_script  = bedrijf.basis.basis.tawk_sleutel_script %}
{% assign loc_form_actie           = bedrijf.basis.basis.form_actie %}
{% assign loc_jaar_copyright       = bedrijf.basis.basis.jaar_copyright %}


{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}
