{% comment %}
<!-- ======================================================================= -->
<!-- synchroniseren met Nuxt -->
<!-- Images max. 768 px -->
<!-- ======================================================================= -->
{% endcomment %}

<!-- include_block_salina_nail_01G_md 0.1.0 -->
<div class="block_salina_nail_01G_md">
  <img src="{{ loc_url_rel }}{{ loc_path_bedrijf_media }}{{ include.content.foto_bestand }}" alt="{{ include.content.foto_alt }}">
</div>

{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}


