{% comment %}
<!-- ======================================================================= -->
<!-- gesynchroniseerd -->
<!-- Alleen een header in een block. -->
<!-- ======================================================================= -->
{% endcomment %}

<!-- include_block_athena_71G 0.1.0 -->
<div class="block_athena_71G">
  <div class="block-body">    

    <div class="block-title">
        <h2>{{ include.content.kop }}</h2>
    </div>

  </div>      
</div>

{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}
