{% comment %}
<!-- ======================================================================= -->
<!-- gesynchroniseerd -->
<!-- Een paragraaf met daarnaast links of rechts een block met een image. -->
<!-- ======================================================================= -->
{% endcomment %}

<!-- include_block_athena_72G 0.1.0 -->
<div class="block_athena_72G">
  <div class="block-body">

    <div class="block-text">
      {{ include.content.tekst }}
    </div>    

  </div>
</div>

{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}
