{% comment %}
<!-- ======================================================================= -->
<!-- gesynchroniseerd -->
<!-- ======================================================================= -->
{% endcomment %}

<!-- include_block_athena_image_01G 0.1.0 -->
<div class="block_athena_image_01G">
  <img class="d-block" src="{{ loc_url_rel }}{{ loc_path_bedrijf_media }}{{ include.content.foto_bestand }}" alt="{{ include.content.foto_alt }}">
</div>

{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}

