{% comment %}
<!-- ======================================================================= -->
<!-- gesynchroniseerd -->
<!-- ======================================================================= -->
{% endcomment %}

<!-- include_block_athena_52G 0.1.0 -->
<div class="block_athena_52G">
  <div class="block-body">

    <div class="block-title">
      <h3>{{ include.content.kop }}</h3>
    </div>

    <div class="block-text">
      <p>{{ include.content.tekst }}</p>
    </div>

  </div>
</div>

{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}




  
