{% comment %}
<!-- ======================================================================= -->
<!-- gesynchroniseerd -->
<!-- ======================================================================= -->
{% endcomment %}

<!-- include_block_salina_pagetitle_01G 0.1.0 -->
<div class="block_salina_pagetitle_01G">
  <div class="block-body">
    <div class="block-title">      
      <h1>{{ include.kop }}</h1>
    </div>
  </div>
</div>

{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}
