{% comment %}
<!-- ======================================================================= -->
<!-- gesynchroniseerd -->
<!-- ======================================================================= -->
{% endcomment %}

<!-- include_jumbotron_athena_01G 0.1.0 -->
<div class="jumbotron_athena_01G">
  <h2>{{ include.content.kop }}</h2>
  <div class="jumbotron_quote">
    <blockquote class="blockquote">
      <p>
        <i class="fas fa-quote-left fa-2x"></i>&nbsp;
        {{ include.content.tekst }}
      </p>
    </blockquote>
  </div>
</div>

{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}


