{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}

    <!-- render_footer_lavinia_11G 0.1.0 -->
    <footer class="footer_lavinia_11G" >
      <div class="container">
        <div class="row bs4x-show-grid">
          <div class="col-blocks-31">
            
    <!-- render_block_lavinia_brand_11G 0.1.0 -->
    <div class="block_lavinia_brand_11G">
      <div class="block-body">
        <h3 class="block-title">Candy Businxxxess</h3>
      </div>
    </div>
  
          </div>
          <div class="col-blocks-31">
            
    <!-- render_block_lavinia_adres_11G 0.1.0 -->
    <div class="block_lavinia_adres_11G">
      <div class="block-body">
        
          <h3 class="block-title">Adres</h3>
        
        <address>
          Honingerdijk&nbsp;&nbsp;3-B
          <br>
          3063 AH&nbsp;&nbsp;Rotterdam
        </address>
      </div>
    </div>
  
          </div>
          <div class="col-blocks-31">
            
    <!-- render_block_lavinia_contact_11G 0.1.0 -->
    <div class="block_lavinia_contact_11G">
      <div class="block-body">
        
          <h3 class="block-title">Contact</h3>
        
        <address>
          Email: <a href="mailto: Informatie@CentoBytes.nl" target="_blank"> Informatie@CentoBytes.nl</a>
          <br>
          Telefoon: +31107142497
        </address>
      </div>
    </div>
  
          </div>
        </div>
      </div>
    </footer>
  

        
{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}
