{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}

    <!-- render_footer_lavinia_11G 0.1.0 -->
    <footer class="footer_lavinia_11G" >
      <div class="container">
        <div class="row bs4x-show-grid">
          <div class="col-blocks-31">
            
    <!-- render_block_lavinia_brand_11G 0.1.0 -->
    <div class="block_lavinia_brand_11G">
      <div class="block-body">
        <h3 class="block-title">Candy Business</h3>
      </div>
    </div>
  
          </div>
          <div class="col-blocks-31">
            
    <!-- render_block_lavinia_adres_11G 0.1.0 -->
    <div class="block_lavinia_adres_11G">
      <div class="block-body">
        <pwa-install></pwa-install>
        <script type="module" 
          src="https://cdn.jsdelivr.net/npm/@pwabuilder/pwainstall"
        ></script>        

      </div>
    </div>
  
          </div>
          <div class="col-blocks-31">
            
    <!-- render_block_lavinia_contact_11G 0.1.0 -->
    <div class="block_lavinia_contact_11G">
      <div class="block-body">
        
          <h3 class="block-title">Contact</h3>
        
        <address>
          Email: <a href="mailto: Informatie@CentoBytes.nl" target="_blank"> Informatie@CentoBytes.nl</a>
          <br>
          Telefoon: +31107142497
        </address>
      </div>
    </div>
  
          </div>
        </div>
      </div>
    </footer>
  

        
{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}
