{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}



    <!-- render_navbar_lavinia_34G 0.1.0 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar_lavinia_34G">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
          <span class="navbar-toggler-icon"></span>
      </button>

      
        <a class="navbar-brand" href="index.html">
        Candy Business</a>
      

      <div class="d-flex flex-row order-2 order-lg-3">
        <ul class="navbar-nav flex-row snip_navbar_icons_01">
          
    <!-- snip_navbar_lavinia_34G_icons_01 0.1.0 -->
      
        <li class="nav-item screen-snipes-mobile">
          <a class="icon-spacing-01 nav-link" href="#">
            <span class="fab fa-facebook-f icon-navbar-34"></span>
          </a>
        </li>
      
        <li class="nav-item screen-snipes-mobile">
          <a class="icon-spacing-01 nav-link" href="#">
            <span class="fab fa-twitter icon-navbar-34"></span>
          </a>
        </li>
      
  
        </ul>
      </div>

      <div class="collapse navbar-collapse order-3 order-lg-2" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          
    <!-- snip_navbar_lavinia_34G_links 0.1.0 -->
    
      
        <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="producten.html">Producten</a></li>
        <li class="nav-item"><a class="nav-link" href="bedrijf.html">Bedrijf</a></li>
    
      
        <li class="nav-item">
      
          
            <a class="nav-link" href="contact.html">Contact</a>          
                    
        </li>
    
  
        </ul>
      </div>
    </nav>

{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}


